Snippet Version=1 Id=transport Name="Transport controls"
  Binding Id=play Role=Button Input=Press Feedback=Toggle Required=Yes
    Action NoMod Play
    Action Shift Reaper 40044
  BindingEnd

  Binding Id=stop Role=Button Input=Press Feedback=Toggle Required=Yes
    Action NoMod Stop
  BindingEnd

  Binding Id=record Role=Button Input=Press Feedback=Toggle Required=Yes
    Action NoMod Record
  BindingEnd
SnippetEnd
